* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-weight: 200;
  font-size: 1rem;
  --user-font-scale: 1rem - 16px;
  font-size: clamp(
    0.875rem,
    0.4626rem + 1.0309vw + var(--user-font-scale),
    1.125rem
  );
  --c-opacity: 100%;
  --blue: hsl(204 75% 46% / var(--c-opacity));
  --pink: hsl(293 60% 53% / var(--c-opacity));
  --green: hsl(164 60% 53% / var(--c-opacity));
  --yellow: hsl(47 60% 53% / var(--c-opacity));
  --glass-bg-color: hsl(0 0% 100% / 20%);
  --glass-border: 1px solid hsl(0 0% 100% / 30%);
  --action-color: var(--pink);
}

body {
  width: 100%;
  min-height: 100vh;
}
body {
  background: url("/assets/frame.png") no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 200;
}

button {
  padding: 8px 20px;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  background: var(--glass-bg-color);
  border: var(--glass-border);
  backdrop-filter: blur(20px);
  box-shadow: 0 4px 40px hsl(0 0% 0% / 9%), 0 2px 4px hsl(0 0% 0% / 19%);
}
button:hover {
  background: hsl(0 0% 100% /40%);
}
.glass {
  box-shadow: 0 4px 40px hsl(0 0% 0% / 9%);
  background: var(--glass-bg-color);
  border: var(--glass-border);
  backdrop-filter: blur(20px);
}
main {
  height: calc(100vh - 4rem);
}

/* header */
header.glass {
  border-left: none;
  border-right: none;
}
header > div {
  padding: 1rem 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header > div h1 {
  font-size: 18px;
  margin: 0;
}

/* PLAYER INFO */
.players-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0.8rem; /*size of the indicator dot*/
  margin-top: 20px;
}
.player {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  font-size: 24px;
}
.player > :first-child {
  margin-right: 1rem;
  text-transform: capitalize;
}
.player > :first-child:after {
  content: ":";
}
.player.active:before {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  background: var(--action-color);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: calc((0.2rem + 0.5rem) * -1);
}
.player.robot.active:before {
  background: var(--blue);
}

/* BOARD */
.board-wrapper {
  max-width: 70vh;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */

  padding: 0 10px;
}
h2 {
  margin-bottom: 20px;
}
.board {
  display: grid;
  grid-template-columns: repeat(3, minmax(1px, 1fr));
  justify-content: center;
  margin: 0 auto;
  gap: 1rem;
  width: 100%;
  margin-bottom: 20px;
}
.tile {
  width: 100%;
  height: 0;
  padding-top: 100%;
  position: relative;
}
.tile > button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 24px;
  border-radius: 8px;
  padding: 1rem;
  overflow: hidden;
}
.tile svg {
  width: 88%;
  pointer-events: none;
}

/* SETTINGS */
.settings-panel {
  z-index: 4;
  position: fixed;
  width: 100%;
  height: calc((100% + 8px) + 300px);
  top: calc((100% - 100px));
  border-radius: 14px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  left: 0;
  padding: 0.5rem 1rem;
}
.settings-panel.open {
  top: 20px;
}
.settings-panel > div {
  margin-bottom: 20px;
}
.settings-panel h3 {
  margin-bottom: 14px;
}
.settings-panel button.close {
  background: transparent;
  border: none;
  box-shadow: none;
  backdrop-filter: none;
}
/* .handle {
  width: 90%;
  z-index: 99;
  height: 8px;
  background: #262626;
  opacity: 0.4;
  border-radius: 4px;
  position: absolute;
  top: 10px;
  left: 5%;
} */
.blur {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  backdrop-filter: blur(var(--blur-overlay));
}
.flex {
  display: flex;
  justify-content: space-between;
}
/* STATS */
h3 {
  margin-bottom: 14px;
}
.stat {
  text-align: center;
}
.stat h4 {
  font-size: 16px;
}
.stat .value {
  font-size: 38px;
}

/* DIFFICULTY */
.difficulty-selection {
}
.difficulty-selection .label {
  cursor: pointer;
  font-size: 18px;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  border: 2px solid transparent;
  filter: drop-shadow(0 0 4px rgb(0 0 0 / 20%));
}
.difficulty-selection input[type="radio"] {
  display: none;
}
/* active Styles */
.difficulty-selection input:checked + .label,
.label:hover {
  border: 2px solid var(--difficulty-color);
  background: var(--glass-bg-color);
}

/* 
WINNER ANNOUNCEMENT MODAL
*/
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 75%;
  min-width: 300px;
  transform: translate(-50%, -50%);
  z-index: 3;
  padding: 50px;
}
.winner-announcement {
  font-size: 26px;
  text-align: center;
}
.winner-announcement .winner-name {
  font-size: 1.3em;
}
