---
import TicTacToe from "../components/TicTacToe/TicTacToe.jsx"
import BG from "../components/BG/BG.jsx"
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Astro</title>

    <link rel="icon" type="image/svg+xml" href="/favicon.svg">

    <link rel="stylesheet" href="/style/global.css">
  
</head>
<body style="">
    
    <header >
        <div>
            <h1>Tic Tac Toe</h1>
        </div>
    </header>
    <main style="position:relative">
        <TicTacToe:load />
    </main>
</body>
</html>
