---
import TicTacToe from "../components/TicTacToe/TicTacToe.jsx"
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tic Tac Toe</title>

    <link rel="icon" type="image/png" href="icons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="icons/android-192x192.png" sizes="192x192">
    <link rel="apple-touch-icon" href="icons/apple-touch-icon-180x180.png" sizes="180x180">
    <meta name="msapplication-config" content="icons/browserconfig.xml">

    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="/style/global.css">
  
</head>
<body style="">
    
    <header >
        <div>
            <h1>Tic Tac Toe</h1>
        </div>
    </header>
    <main style="position:relative">
        <TicTacToe:load />
    </main>
    <script type="module" src="../installServiceWorker.js" ></script>
</body>
</html>
